doctype doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title styles
        link(rel= "styleSheet" href= "styles.css"  type="text/css")
        
        style.
            p {
            color : red;
            text-decoration : underline; 
            }
       
    body 
        p(style = "text-align: center; text-transform: uppercase") This is a paragraph!

        -const pStyles = {"text-align" : "center", "text-transform": "uppercase"}

        p(style=pStyles) Other paragraph