doctype doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hello pug🥸
    body 
        h1#sintaxisId Welcome to pug👻!
        p.sintaxisClass.
         This is a paragraph 
         and this a new line
        
        ul 
            li Tis is item #1
            li Tis is item #2
            li Tis is item #3
        .display-box
        .myOnlyDiv 
        input(type="password" data-js=`${5>2 ? "0k" : "NOT OK"}` name="input")

        - const myClasses = ["class1", "class2", "class3"]
        div(class=myClasses)

        - const myStyles = {"color" : "blue", "background-color": "orange"}
        div(style=myStyles)

        - const myAttributes = {"src": "myphoto.png", "alt": "This is my photo"}
        img&attributes(myAttributes)

        input(type="text" disabled=true)
