form.contactForm
	.contactForm__items 
		label(id="username") Names 
		input(type="text" name="username" placeholder="enter your name")
	.contactForm__items 
		label(id="lastname") LastName
		input(type="text" name="lastname" placeholder="enter your lastname")
	.contactForm__items 
		label(id="email") Email
		input(type="email" name="email" placeholder="enter your email")
	.contactForm__items  
		label(id="message") Message
		textarea(name="message" cols="20" rows="4") 
	.contactForm__submit
		button(type="submit" value="Submit") Submit